Django==1.11.4
django-filter==1.0.4
djangorestframework==3.6.3
gunicorn==19.7.1
Markdown==2.6.8
numpy==1.12.1
olefile==0.44
Pillow==4.2.1
protobuf==3.2.0
pytz==2017.2
six==1.10.0
tensorflow==1.1.0
Werkzeug==0.12.2
